{% extends 'base2.html' %}
{% load static %}

{% block title %}Dashbord{% endblock %}

{% block content %}
<div class="welcome">
  {% if user.is_authenticated %}
  <h2 class="welcome-h">Welcome  {{user.first_name}}  {{user.last_name}}</h2>
  {% endif %}
</div>
<div class="hero-dash">
  
</div>
<div clss="explore">
  <h1 class=" our-hostel">
    explore our available hostel/room
  </h1>
  <div class="grid">
    <div class="grid-explore">
      <img src="{% static 'img/login.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/login.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/background.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/background.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/login.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/login.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/background.jpg' %}" alt="hostel image">
    </div>
    <div class="grid-explore">
      <img src="{% static 'img/background.jpg' %}" alt="hostel image">
    </div>
  </div>

  <h1 class=" our-hos">
    WHY CHOOSE ADELEKE UNIVERSITY HOSTEL?
  </h1>
  <div class="grid">
    <div class="grid-explore">
      <h3>power supply</h3>
      <p class="headings">
        Enjoy uninterrupted power supply 
        for a seamless living experience. 
        Our hostel provides reliable and stable 
        electricity to meet your needs..
      </p>
    </div>
    <div class="grid-explore">
      <h3>relationship</h3>
      <p class="headings">
        Foster meaningful connections with 
        fellow residents in a vibrant and 
        inclusive community. Create lasting 
        friendships and enrich your university experience.
      </p>
    </div>
    <div class="grid-explore">
      <h3>security</h3>
      <p class="headings">
        Your safety is our priority. Benefit 
        from a secure environment with modern 
        security measures to ensure a worry-free 
        stay throughout your academic journey.
      </p>
    </div>
    <div class="grid-explore">
      <h3>Amenities</h3>
      <p class="headings">
        Experience a comfortable and well-equipped 
        living space. Our hostel offers top-notch 
        amenities to enhance your lifestyle and 
        contribute to your overall well-being.
      </p>
    </div>
    <div class="grid-explore">
      <h3>Academic Support</h3>
      <p class="headings">
        Access a conducive environment for 
        focused studying. Benefit from study 
        spaces, resources, and an atmosphere that 
        encourages academic excellence.
      </p>
    </div>
    <div class="grid-explore">
      <h3>Community Engagement</h3>
      <p class="headings">
        Engage in community events and activities 
        that foster a sense of belonging. Participate 
        in social and cultural events organized within 
        the hostel for a well-rounded university experience.
      </p>
    </div>
    <div class="grid-explore">
      <h3>Maintenance Services</h3>
      <p class="headings">
        Enjoy hassle-free living with prompt and 
        efficient maintenance services. Our dedicated 
        staff ensures that facilities are well-maintained 
        to provide you with a comfortable and stress-free environment.
      </p>
    </div>
    <div class="grid-explore">
      <h3>Convenient Location</h3>
      <p class="headings">
        Experience the convenience of a strategic location. 
        Our hostel is situated in proximity to key 
        university facilities, making it easy for you to 
        access classes, libraries, and other essential services.
      </p>
    </div>
  </div>
</div>
{% endblock %}