{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Hostel{% endblock %}

{% block content %}
{% for message in messages %}
  
<div class="success-div">
  <p class="success">{{message}}</p>
</div>

{% endfor %}

  <h1 class="typewriter">
    Welcome to Adeleke University Hostel Platform
  </h1>

  <section class="hero">
    <div class="hero-div">
     
    </div>
  </section>

  <section id="about-us">
    <div class="about">
      <h1 class="about-h">ABOUT US</h1>
      <p class="about-t">
        Welcome to Adeleke University Hostel Management, where we take pride in 
        providing more than just accommodation; we offer an immersive living experience 
        designed to make your university journey exceptional. Our commitment goes beyond brick-and-mortar structures; 
        it encompasses creating a nurturing, secure, and vibrant environment that fosters personal growth, academic success,
        and lifelong connections. <br> <br>
        Our state-of-the-art facilities are meticulously designed to cater to the diverse needs of our residents. 
        From well-appointed living spaces that prioritize comfort to communal areas that encourage collaboration, 
        we strive to create an environment that complements academic pursuits and personal growth. We consider safety a 
        non-negotiable aspect of our service, implementing cutting-edge security measures to ensure peace of mind for all residents. <br> <br> 
        Adeleke University Hostel Management is not just a place to stay; it's a community where connections are forged, 
        memories are created, and friendships last a lifetime. Our vibrant community is a testament to the diversity of backgrounds, 
        cultures, and ambitions that converge under one roof. Engage in meaningful interactions, celebrate shared experiences, and 
        embark on a journey of self-discovery. <br> <br>
        Our responsive management team is dedicated to making your stay seamless and enjoyable. 
        From prompt customer service to efficient problem-solving, we are here to ensure that your time with us is marked by comfort, 
        convenience, and a sense of belonging. <br> <br>
        Thank you for considering Adeleke University Hostel as your 
        chosen residence. Join us in creating an enriching and vibrant living experience, 
        where your aspirations and well-being are at the heart of everything we do.
         Welcome to a community where your university journey becomes an unforgettable chapter of growth, learning, and lasting connections.
      </p>
      </p> 
    </div>
  </section>

  <section id="hostel-rules">
    <div class="rules">
      <h1 class="rules-h">HOSTEL RULES</h1>
      <p class="about-t">
        Hostels are vibrant spaces that bring together students from 
        diverse backgrounds and experiences. To ensure a comfortable 
        and safe living environment for everyone, it's important to 
        establish clear rules and regulations that promote respect, 
        responsibility, and community spirit.
        These guidelines are not simply restrictions; they are the 
        foundation for a positive and enriching hostel experience. 
        By adhering to them, we can create a space where everyone feels 
        welcome, valued, and supported. Some of the rules are:
      </p>
      <div class=" grid">
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/stealing.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no stealing</h3>
            <p class="p">
              Adeleke University Hostel Management strongly opposes theft. 
              We're committed to a safe, respectful community. 
              Keep belongings secure; let's ensure a positive living experience for everyone. 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/fighting.avif' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no fighting</h3>
            <p class="p">
              At Adeleke University Hostel Management, we prioritize a peaceful community. 
              Avoid conflicts and contribute to a positive environment. 
              Let's make the hostel a safe and harmonious space for all.!
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/bullying.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no bullying</h3>
            <p class="p">
              Adeleke University Hostel Management stands against bullying. 
              Foster a culture of kindness and respect. 
              Let's create a supportive community where everyone feels valued and safe. 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/protest.jpg' %}" alt="no protesting image">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no protesting</h3>
            <p class="p">
              Adeleke University Hostel Management upholds a peaceful living environment. 
              Please refrain from protesting within the hostel premises. 
              Let's maintain a harmonious atmosphere for everyone. 
            </p>
          </div> 
        </div>
      </div>
    </div>
  </section>
  
  <section id="contact">
    <div class="contact-div">
      <h1 class="contact-h">CONTACT US</h1>
      <p class="pp">
        Please supply all the required informations correctly 
      </p>
      
      <form method="POST">
        
        {% csrf_token %}

        <div class="fname-grid">
          <div>
            <label class="namef" for="fname">First Name</label> <br>
            <input class="fname" type="text" name="fname" placeholder="Enter your first name" required>
          </div>
          <div>
            <label class="namel" for="lname">Last Name</label><br>
            <input class="lname" type="text" name="lname" placeholder="Enter your last name" required>
          </div>
        </div>
        <label class="lemail" for="email">Email</label> <br>
        <input name="email" class="email" type="email" placeholder="Enter your email" required> <br>
        <textarea name="message" id="message" cols="30" rows="15" required>Enter your message</textarea> <br>
        <input class="submit" type="submit">
      </form>
    </div>
  </section>

{% endblock %}