{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Hostel{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-div">
     
    </div>
  </section>

  <section id="about-us">
    <div class="about">
      <h1 class="about-h">ABOUT US</h1>
      <p class="about-t">
        Welcome to Adeleke University Hostel Management, where we're 
        committed to creating a home away from home for students. 
        Our mission is to empower student living by providing a secure, supportive, 
        and vibrant environment. With modern facilities, top-notch safety measures, 
        a strong sense of community, and a responsive management team, we prioritize 
        your comfort, well-being, and academic success at Adeleke University. 
        Join us in the journey of fostering growth, learning, and lifelong friendships. 
        Whether you're a prospective student or a current resident, 
        Adeleke University Hostel Management invites you to be a part of our story. 
        Thank you for considering us as your home away from home.
      </p>
      </p> 
    </div>
  </section>

  <section id="hostel-rules">
    <div class="rules">
      <h1 class="rules-h">HOSTEL RULES</h1>
      <p class="about-t">
        Hostels are vibrant spaces that bring together students from 
        diverse backgrounds and experiences. To ensure a comfortable 
        and safe living environment for everyone, it's important to 
        establish clear rules and regulations that promote respect, 
        responsibility, and community spirit.
        These guidelines are not simply restrictions; they are the 
        foundation for a positive and enriching hostel experience. 
        By adhering to them, we can create a space where everyone feels 
        welcome, valued, and supported. Some of the rules are:
      </p>
      <div class=" grid">
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/stealing.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no stealing</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/fighting.avif' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no fighting</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam!
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/bullying.jpg' %}">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no bullying</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
        <div class="inner">
          <div class="inner-1">
            <img class="img-r" src="{% static 'img/protest.jpg' %}" alt="no protesting image">
          </div>
          <div class="inner-2">
            <h3 class="inner-h">no protesting</h3>
            <p class="p">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Atque deleniti suscipit, nam molestias nulla
              quo esse ut quasi consequuntur dolorem aliquam! 
            </p>
          </div> 
        </div>
      </div>
    </div>
  </section>
  
  <section id="contact">
    <div class="contact-div">
      <h1 class="contact-h">CONTACT US</h1>
      <p class="pp">
        Please supply all the required informations correctly 
      </p>
      
      <form method="POST">
        
        {% csrf_token %}
  
        {% for message in messages %}
  
        <p class="success">{{message}}</p>

        {% endfor %}

        <div class="fname-grid">
          <div>
            <label class="namef" for="fname">First Name</label> <br>
            <input class="fname" type="text" name="fname" placeholder="Enter your first name" required>
          </div>
          <div>
            <label class="namel" for="lname">Last Name</label><br>
            <input class="lname" type="text" name="lname" placeholder="Enter your last name" required>
          </div>
        </div>
        <label class="lemail" for="email">Email</label> <br>
        <input name="email" class="email" type="email" placeholder="Enter your email" required> <br>
        <textarea name="message" id="message" cols="30" rows="15" required>Enter your message</textarea> <br>
        <input class="submit" type="submit">
      </form>
    </div>
  </section>

{% endblock %}